body{
    font-family: 'Uchen', serif;
    margin: 0px;
}
h1{
    font-size: 30px;
}
.brown-color{
    color: brown;
}
.flexible-container{
    display: flex;
    margin-bottom: 250px;
}
.half-width{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: whitesmoke;
    font-weight: 200;
    border-radius: 10px;
}

.about-me{
    background-image: url(image/Frame\ 59.jpg);
    background-repeat: no-repeat;
    
}